* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* html,
body,
#root {
    background-color: #80808020;
    height: 100%;
}

.Home, 
.Company,
.Contact,
.NewProject{
    background-color: red;
    color: black;
    padding: 10px;
    margin: 15px;
    border-style:solid;
} */